<div class="page-content-wrapper" ng-controller="LabsController">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fas fa-vial"></i>
                            <span class="caption-subject sbold uppercase"> Danh sách xét nghiệm</span>
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="javascript:;" ng-click="paginate.Page = 1; reload();" class="reload"> </a>
                            <a href="javascript:;" class="fullscreen" data-original-title="" title=""> </a>
                        </div>
                        <div class="actions pull-left">
                            {{#isActiveFunction Info.Role 'CreateLab'}}
                            <a href="#create_lab" class="btn btn-circle btn-success" data-toggle="modal"><i
                                    class="fa fa-plus"></i>
                                Thêm mới </a>
                            {{/isActiveFunction}}
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="form-group row">
                            <div class="col-md-10">
                                <div class="col-md-12 flex-box">
                                    <div class="input-group" style="z-index: 1000 !important;">
                                        <div class="input-group-control">
                                            <select style="width: 100px;"
                                                class="selectpicker form-control limit-data pull-left"
                                                ng-model="paginate.Limit" ng-change="paginate.Page = 1; list();"
                                                ng-options="v as v for (k,v) in limitData">
                                                <option value="" ng-if="hideOptions"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="input-group" style="z-index: 5 !important;">
                                        <div class="input-group-control">
                                            <select class="selectpicker form-control" data-live-search="true" 
                                        data-title="Loại xét nghiệm" ng-change="paginate.Page = 1; list();"
                                        ng-options="item.LabTypeName as item.LabTypeName for item in types"
                                        ng-model="paginate.LabType">
                                            <option value="" ng-if="hideOption"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <select class="bs-select" data-size="5" data-live-search="true"
                                            ng-change="paginate.Page = 1; list()" data-selected-text-format="count > 2"
                                            data-title="Chọn bệnh nhân"
                                            ng-options="patient._id as patient.FullName + '(' + patient.PatientID + ')' for patient in patients"
                                            ng-model="paginate.PatientObjectId">
                                            <option value="" ng-if="hideOption"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 box-search-wrapper">
                                <div class="col-md-12">
                                    <div class="form-search pull-right">
                                        <div class="input-icon right">
                                            <i class="fas fa-search"></i>
                                            <input type="text" ng-model="paginate.Search" name="bar_code"
                                                class="form-control" ng-change="paginate.Page = 1; list()"
                                                placeholder="Tìm kiếm">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-scrollable wrapper-table-update">
                            <table class="table table-light table-hover">
                                <thead>
                                    <tr>
                                        <th class="rowno"> STT </a> </th>
                                        <th class="title"> Mã xét nghiệm </th>
                                        <th class="title"> Tên xét nghiệm </th>
                                        <th class="title"> Loại xét nghiệm </a></th>
                                        <th class="title"> Bệnh nhân </th>
                                        <th class="title"> Ngày tạo </a></th>
                                        <th class="th-size-update"> Trạng thái</a></th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="(idx, item) in labs"
                                    ng-init='valueDetails=(item.LabDetails); rowSpan=item.LabDetails.length; idxRoot=$index'>
                                    <tr ng-repeat="it in valueDetails">
                                        <td ng-if="$first" rowspan="\{{rowSpan}}" ng-bind="idx + 1">
                                        </td>
                                        <td ng-if="$first" rowspan="\{{rowSpan}}">
                                            <a href="#update_lab" ng-click="info(item)" ng-bind="item.LabCode" 
                                                data-toggle="modal"></a>
                                        </td>
                                        <td ng-if="$first" rowspan="\{{rowSpan}}">
                                            <a href="#update_lab" ng-click="info(item)" ng-bind="item.LabName"
                                                data-toggle="modal"></a>
                                        </td>
                                        <td ng-bind="it.LabType"></td>
                                        <td ng-if="$first" ng-bind="item.PatientObjectId.FullName" rowspan="\{{rowSpan}}"></td>
                                        <td ng-if="$first" ng-bind="item.CreatedDate | formatDateToDMY : 'DD-MM-YYYY HH:mm:ss'" rowspan="\{{rowSpan}}"></td>
                                        <td class="status" ng-if="$first" rowspan="\{{rowSpan}}">
                                            <div class="btn-group status dropup update-status-mgt">
                                                <label class="btn btn-sm btn-status"
                                                    ng-class="item.Status | filterStatusToClass"
                                                    ng-bind="item.Status | filterStatusLabToText">
                                                </label>
                                                <button type="button" class="btn btn-sm btn-info dropdown-toggle"
                                                    data-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-angle-up"></i>
                                                </button>
                                                <ul class="dropdown-menu status pull-right" role="menu">
                                                    {{#isActiveFunction Info.Role 'UpdateStatusLab'}}
                                                    <li class="status-Active"><a href="javascript:;" data-value="Active"
                                                            ng-click="updateStatus(200, item._id, $index)">
                                                            Đang xét nghiệm
                                                        </a>
                                                    </li>
                                                    {{/isActiveFunction}}
                                                    {{#isActiveFunction Info.Role 'UpdateStatusLab'}}
                                                    <li class="status-Inactive"><a href="javascript:;"
                                                            data-value="Inactive"
                                                            ng-click="updateStatus(400, item._id, $index)">
                                                            Đã xét nghiệm </a>
                                                    </li>
                                                    {{/isActiveFunction}}
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="boxs-footer dvd dvd-top">
                            <div class="row" ng-if="pagination.show">
                                <div class="col-sm-3 text-left">
                                    <small class="text-muted"
                                        ng-bind="'Hiển thị ' + pagination.skip + '-' + pagination.toSkip + '/' + pagination.total + ' mục'">
                                    </small>
                                </div>
                                <div class="col-sm-3 hidden-xs">
                                </div>
                                <div class="col-sm-6 text-right">
                                    <ul class="pagination m-0">
                                        <li>
                                            <a ng-click="firstPage()">
                                                <i class="fas fa-angle-double-left"></i>
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="prevPage()">
                                                <i class="fa fa-chevron-left"></i>
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li ng-repeat="page in pagination.pages" style="cursor: pointer"
                                            ng-class="{active:pagination.page === page}">
                                            <a ng-click="setPage(page)" ng-bind="page"></a>
                                        </li>
                                        <li>
                                            <a ng-click="nextPage()">
                                                <i class="fa fa-chevron-right"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="endPage()">
                                                <i class="fas fa-angle-double-right"></i>
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="create_lab" class="modal fade in" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:;" class="fullscreen" data-original-title="" title="">
                    </a>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"><i class="fas fa-vial"></i>
                        Thông tin xét nghiệm
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" name="f_CreateLab" ng-validate="validator">
                        <div class="form-body">
                            <div class="form-group" ng-if="alertShow">
                                <div class="alert alert-\{{alertClass}}" ng-bind="alertMsg"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Tên xét nghiệm<span
                                        class="required">(*)</span>:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="lab_name"
                                        ng-model="formCreate.LabName" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Bệnh nhân<span class="required">(*)</span>:</label>
                                <div class="col-md-8">
                                    <select class="bs-select form-control" name="patient"
                                        ng-model="formCreate.PatientObjectId"
                                        ng-options="patient._id as patient.FullName + '(' + patient.PatientID + ')' for patient in patients"
                                        data-live-search="true" data-size="5" title="Chọn bệnh nhân">
                                        <option value="" ng-if="hideOptions"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="portlet light">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <span class="caption-subject uppercase">
                                            Loại xét nghiệm </span>
                                    </div>
                                    <div class="actions">
                                        <a href="javascript:;" class="btn green pull-right"
                                            ng-click="addFieldDetailLab()"><i class="fas fa-plus"></i>
                                            Thêm xét nghiệm
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                    <tr class="table-header">
                                                        <th class="rowno" style="width: 60px;">
                                                            STT </th>
                                                        <th class="title" style="width: 350px;">
                                                            Loại xét nghiệm
                                                        </th>
                                                        <th class="title">
                                                            Thao tác
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in LabDetail">
                                                        <td ng-bind="$index + 1"></td>
                                                        <td>
                                                            <span ng-bind="item.LabType"
                                                                ng-if="!item.showEdit"></span>
                                                            <div class="form-group" ng-if="item.showEdit"
                                                                style="width: 350px">
                                                                <list-lab>
                                                                </list-lab>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group">
                                                                <div class="btn-group btn-group-sm" role="group"
                                                                    aria-label="Small button group">
                                                                    <button type="button" class="btn blue"
                                                                        ng-if="!item.showEdit"
                                                                        ng-click="openEditDetailLab($index)">
                                                                        <i class="fas fa-pen"></i>
                                                                    </button>
                                                                    <button type="button" class="btn green"
                                                                        ng-if="item.showEdit"
                                                                        ng-click="saveDetailLab(item, $index)">
                                                                        <i class="fas fa-check"></i>
                                                                    </button>
                                                                    <button type="button" class="btn red"
                                                                        ng-click="deleteDetailLab($index)">
                                                                        <i class="fas fa-times">
                                                                        </i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    {{#isActiveFunction Info.Role 'UpdateLab'}}
                    <button type="button" class="btn green" ng-click="create(f_CreateLab)">
                        Lưu</button>
                    {{/isActiveFunction}}
                    <button type="button" data-dismiss="modal" class="btn default">
                        Hủy</button>
                </div>

            </div>
        </div>
    </div>
    <div id="update_lab" class="modal fade in" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:;" class="fullscreen" data-original-title="" title="">
                    </a>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"><i class="fas fa-vial"></i>
                       Thông tin xét nghiệm
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" name="f_UpdateLab" ng-validate="validator">
                        <div class="form-body">
                            <div class="form-group" ng-if="alertShow">
                                <div class="alert alert-\{{alertClass}}" ng-bind="alertMsg"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Mã xét nghiệm:</label>
                                <div class="col-md-8">
                                    <input type="text" readonly class="form-control" ng-value="LabCode">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Tên xét nghiệm:</label>
                                <div class="col-md-8">
                                    <input type="text" readonly class="form-control" ng-value="LabName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Bệnh nhân:</label>
                                <div class="col-md-8">
                                    <input type="text" readonly class="form-control" ng-value="Patient">
                                </div>
                            </div>
                            <div class="portlet light">
                                <div class="portlet-title">
                                    <div class="caption" class="col-md-5">
                                        <span class="caption-subject uppercase">
                                            Loại xét nghiệm </span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                    <tr class="table-header">
                                                        <th class="rowno" style="width: 60px;">
                                                            STT </th>
                                                        <th class="title" style="width: 300px;">
                                                            Loại xét nghiệm
                                                        </th>
                                                        <th class="title" style="width: 300px;">
                                                            Thao tác
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody >
                                                    <tr ng-repeat="item in LabDetailUpdate">
                                                        <td ng-bind="$index + 1"></td>
                                                        <td>
                                                            <span ng-bind="item.LabType"
                                                                ng-if="!item.showEdit"></span>
                                                            </br>
                                                            <a href="#detail" ng-click="infoDetail(item._id)"
                                                             data-toggle="modal"><em>Xem chi tiết</em>
                                                            </a>
                                                            <div class="form-group" ng-if="item.showEdit"
                                                                style="width: 250px">
                                                                <list-lab>
                                                                </list-lab>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            \{{item.files.name}}
                                                            <div class="loading-wrapper" id="loading_add">
                                                                <div>
                                                                    <img src="/images/pictures/loading.gif" alt="loading">
                                                                </div>
                                                                <div class="title">
                                                                    Đang thêm
                                                                </div>
                                                            </div>
                                                            {{#isActiveFunction Info.Role 'UpdateLab'}}
                                                            <div class="actions pull-right" class="col-md-7">
                                                                <button href="javascript:;" class="btn green btn-file-upload"><i
                                                                        class="fas fa-file-excel"></i>
                                                                    <span
                                                                        class="file-title">Import</span>
                                                                    <span>
                                                                        <input type="file" id="input-file-upload" class="input-file-upload"
                                                                            data-width="180" data-height="180" name="file" multiple
                                                                            accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                                                            file-upload="item.files" title="Xuất file excel" />
                                                                    </span>
                                                                </button>
                                                                <button ng-if="item.files.name" type="button" id="selectBtn" data-dismiss=""
                                                                    class="btn green btn-file-upload" ng-click="importFile(item, item.files)">Cập nhật
                                                                </button>
                                                            </div>
                                                            {{/isActiveFunction}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    {{!-- {{#isActiveFunction Info.Role 'UpdateLab'}}
                    <button type="button" class="btn green" ng-click="update(f_UpdateLab)">
                        Lưu</button>
                    {{/isActiveFunction}} --}}
                    <button type="button" data-dismiss="modal" class="btn default">
                        Đóng</button>
                </div>

            </div>
        </div>
    </div>
    <div id="detail" class="modal fade in" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:;" class="fullscreen" data-original-title="" title="">
                    </a>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"><i class="fas fa-vial"></i>
                       Thông tin kết quả xét nghiệm
                    </h4>
                </div>
                <div class="modal-body">
                    <em>Tên xét nghiệm: \{{type}}</em>
                    <div class="table-scrollable wrapper-table-update">
                        <table class="table table-light table-hover">
                            <thead>
                                <tr>
                                    <th class="rowno"> STT </a> </th>
                                    <th class="title"> Chỉ số </th>
                                    <th class="title"> Kết quả </th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="item in details" ng-init='valueDetails=(item.Result)' id="tbody-\{{$index}}">
                                <tr ng-repeat="detail in valueDetails">
                                    <td ng-bind="$index + count"></td>
                                    <td ng-bind="detail.key"></td>
                                    <td ng-bind="detail.value"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn default">
                        Đóng</button>
                </div>

            </div>
        </div>
    </div>
</div>